# [http://stackoverflow.com/questions/9162919/whitelisting-and-
# subdirectories-in-git]

# First, ignore everything
/*

# Now whitelist the files you are interested in
!*.el
!/lisp
!/lib
!/snippets
!/themes

!README.md
!.gitignore
